BACKEND_BASE_URL=https://adegacarvalho.com.br
BACKEND_SEARCH_PATH=/api/publico/produtos/buscar
BACKEND_AUTH_HEADER=x-public-api-token
BACKEND_PUBLIC_TOKEN=mesmo-valor-do-PUBLICO_PRODUTOS_TOKEN
ADMIN_PANEL_PASSWORD=Adilson25#
ADMIN_HORARIOS_STORE_NAME=carvalho-config
ADMIN_HORARIOS_STORE_KEY=horarios
